/* Estilos para el proyecto final */
/* color atractivo para fondo alternativo:
rgb(165, 139, 146) y sin bg color para clase "todo"*/
*{
	margin: 2px ;
	box-sizing: border-box;
	color: floralwhite;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
body{
	background-color: rgb(39 64 88);
	display: flex;
	justify-content: center;
	align-items: center;
}
.todo{
	width: 75%;
	max-width: 1200px;
	min-height: 120px;
	background-color: #a9acaf;
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.izquierdo{
	position: initial;
	background-color: slategrey; /*#63727e*/
	padding: 7px;

}
.derecho{
	position: initial;
	background-color: darkslategrey;
	padding: 20px;

}
.f_perfil .i_contacto, .habilidades, .idiomas, .hobbies, .titulo,
.sumario, .experiencia, .educacion{
	margin-bottom: 30px;
}
h2{
    text-decoration: underline rgb(159, 160, 145);
    font-size: 17px;
}
img{
    border: 5px solid dimgrey;
    width: 150;
    height: 150;
}
h1{
    font-size: 25px;
}
table{
    font-family: arial;
    border-collapse: separate;
    width: 90%;
}
  
td, th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
}

.botones{
	margin-bottom: 1px;
    display: flex;
    justify-content: center;
}
#b_modo{
	color: black;
}