*{
    color: #1e1e95;
} /** Aplicando el atributo color azul a todos los elementos, pero si ya definimos la propiedad
de otros elementos, se va a priorizar el elemento definido.
Desde css también se puede compartir las definiciones con multiples elementos */


p{
    color: rgb(6, 73, 95);
}
/** 
Comentario dentro de un documento CSS
*/
h1{
    font-family: 'Roboto Mono', monospace;
    border: 5px dotted lightslategray;
    text-align: center;
    margin: 40px 30px 40px 30px;
}
    /**
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 40px;
    margin-right: 30px;
    - Es lo mismo que:
    margin: 40px 30px 40px 30px;
    -En sentido de las agujas del reloj.*/
h3{
    font-family: 'Roboto Mono', monospace;
    border: 3px solid lightslategray;
    color: cadetblue;
    margin: 10px 5px 15px 5px;
    padding: 5px;
}

section {
    width: 315px;
    border: 5px solid lightsteelblue;
    padding: 13px;
    margin: 20px;
}

/**
 Uso de ID para casos en los que queremos ser más especificos 
Los selectors se usan para encontrar o seleccionar los elementos que queremos estilizar.
El uso de selectores con ID usa el atributo ID de un elemento HTML para seleccionar un elemento especifico.
El ID de un elemento es unico en una pagina, asi que el selector de ID es usado para un unico elemento.
Para eso utilizamos el hashtag o númeral: # seguido de la id del elemento.
Nota: no puede comenzar con un numero.*/
#mi_parrafo {
    color:indigo;
    font-size: 22px;
    border: 1px solid lightcyan
}

pre{
    border: solid lightgray;
    margin: 7px 5px 7px 5px;
}

/** El selector de tipo clase(class) seleccionan los elementos HTML con
un atributo de clase especifico.
Para seleccionar los elementos con una clase especifica, usamos el punto(.)
seguido del nombre de clase(class)
Debido a que el ID solo funciona para un elemento, se opta por usar las clases si queremos
utilizarla en multiples elementos.
*/

.miclase{
    font-weight: bold;
    color:lightsteelblue;
}

body {background-color: whitesmoke;}